// -
// Global styles

*, * * {
  @include box-sizing(border-box);
}

body {
  font-size: px2em(16px);
}

a {
  text-decoration: none;
  @include single-transition(color, $transition-speed, linear);
}

p {
  font-weight: 400;
}

pre {
  background-color: darken($sass-pink, 13%);
  padding: px2em(14px);
  margin-bottom: px2em(30px);
  @include border-radius($border-radius);

  code {
    color: lighten($sass-pink, 35%);
  }
}


// -
// Button style

.button {
  background-color: darken($sass-pink, 20%);
  display: inline-block;
  padding: 0 px2em(22px);
  margin-bottom: px2em(20px);
  font-size: px2em(14px);
  font-weight: bold;
  color: #fff;
  line-height: px2em(39px);
  border: none;
  @include border-right-radius($border-radius);
  @include single-transition(background-color, $transition-speed, linear);

  &:hover {
    background-color: darken($sass-pink, 15%);
  }
  &:active {
    @include box-shadow(0 2px 2px rgba(black, 0.1) inset, 0 1px 0 rgba(white, 0.15));
  }
}


// -
// Sache action bar

.sache-bar {
  background: $sass-pink url('../img/wave-pattern.png') 0 0 repeat-x;
  overflow: hidden;
  padding: 0 px2em(80px);
  height: px2em($sache-bar-height);
}

.logo {
  margin: 0;
  color: #fff;
  float: left;
  @include vertical-align;
}

.sache-bar-actions {
  float: right;
  height: px2em($sache-bar-height);
  @extend %list-reset;

  li {
    float: left;
    margin-left: px2em(40px);
    color: rgba(#fff, 0.6);
    overflow: hidden;
    height: 100%;
    @include single-transition(color, $transition-speed, linear);

    a {
      color: rgba(#fff, 1);
      display: inline-block;
      height: 100%;
      line-height: $sache-bar-height;
      @include opacity(0.5);
      @include single-transition(opacity, $transition-speed, linear);


      &:hover {
        @include opacity(1.0);
      }
    }
  }
}

.sache-add-extension {
  border-left: solid 1px rgba(#fff, 0.1);

  a {
    background: url('../img/icons.svg') 40px -105px no-repeat;
    position: relative;
    padding-left: px2em(70px);
  }
}

.sache-search {
  a {
    background: url('../img/icons.svg') 0 -62px no-repeat;
    position: relative;
    left: 270px;
    padding-left: px2em(30px);
  }

  input {
    background-color: $sass-pink;
    border: 0;
    padding: 5px 5px 4px;
    width: 250px;
    font-size: 13px;
    margin-left: 10px;
    position: relative;
    left: 260px;
    color: $sass-pink;
    @include border-radius($border-radius);
    @include transition(left $transition-speed ease-in-out, background-color $transition-speed ease-in-out);

    &.activated {
      left: 0;
      background-color: lighten($sass-pink, 15%);
    }

    &:focus {
      outline: none;
      background-color: lighten($sass-pink, 35%);
      color: $text-color;
    }
  }
}


// -
// Title header area

header {
  background: #f8f8fa url('../img/circle-pattern.png') 50% 45% no-repeat;
  margin-bottom: px2em(30px);
  padding: px2em(20px) $container-padding-default;
  text-align: center;

  @include mq(large) {
    padding: px2em($sache-bar-height) $container-padding-large;
  }

  @include mq(xlarge) {
    padding: px2em(80px) $container-padding-xlarge;
  }
}

.page-title {
  margin-bottom: 0;
  font-size: px2em(26px);
  color: $text-color;
  @extend %reset-margin-top;

  @include mq(medium) {
    font-size: px2em(35px);
  }

  @include mq(large) {
    font-size: px2em(40px);
  }
}

.page-description {
  font-size: px2em(14px);
  font-weight: 300;
  margin-top: px2em(6px);
  color: $text-color;

  @include mq(medium) {
    font-size: px2em(16px);
  }

  @include mq(large) {
    font-size: px2em(18px);
  }

  a {
    color: $link-blue;
    @include single-transition(color, $transition-speed, linear);

    &:hover {
      color: $sass-pink;
    }
  }
}


// -
// Modal

.modal-tarp {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(#000,0.8);
  position: fixed;
  top: 0;
  left: 0;
}

.add-project {
  background: darken($sass-pink, 10%);
  display: none;
  padding: px2em(30px);
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 60%;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -30%;
  @include border-radius($border-radius);

  @include mq(medium) {
    width: 90%;
  }

  @include mq(large) {
    width: 80%;
  }
}

.add-project-title {
  margin-top: 0;
  font-size: px2em(18px);
  color: #fff;
}

.instruction-list {
  padding-left: 20px;
  color: #fff;
}

.field {
  float: left;
  width: 50%;
}

.add-url {
  border: solid 1px darken($sass-pink, 10%);
  color: #333;
  line-height: 30px;
  width: 100%;
  font-size: px2em(13px);
  padding-left: 5px;
  @include border-left-radius($border-radius);

  &:focus {
    border: solid 1px darken($sass-pink, 25%);
    outline: none;
  }
}

.cancel-button {
  position: absolute;
  top: 18px;
  right: 30px;
  font-size: px2em(30px);
  color: rgba(#fff, 0.6);
  @include single-transition(color, $transition-speed);

  &:hover,
  &:active {
    color: rgba(#fff, 1);
  }
}


// -
// Feature cards

#featured {
  margin-bottom: 50px;
  @extend %container;

  h3 {
    color: $text-color;
    font-size: px2em(16px);
    text-align: center;
    margin-bottom: px2em(30px);
  }

  ul {
    display: block;
    @extend %list-reset;
    @extend %clear-float;
  }
}

.feature-card {
  margin: 0 0 px2em(20px);
  width: 100%;
  height: auto;

  @include mq(small) {
    float: left;
    padding: 0 px2em(16px) 0;
    width: 33.33%;
  }

  > span {
    display: block;
    border: $border-style;
    padding-bottom: 0;
    @include border-radius($border-radius);
  }
}

.card-title {
  display: block;
  font-size: px2em(22px);
  line-height: 1.2;
  padding: 20px 20px 0;
  @extend %reset-margin-top;
}

.title-link {
  display: block;
  width: 100%;
  color: $sass-pink;
  font-weight: 600;

  &:hover,
  &:active {
    color: darken($sass-pink, 20%);
  }
}

.card-description-wrapper {
  overflow: hidden;
  padding-bottom: px2em(16px);
  position: relative;
  padding: 0 20px 20px;
  @include box-sizing(content-box);
}

.card-description {
  line-height: 1.5;
  font-size: px2em(14px);
  margin-bottom: px2em(20px);
  margin-top: 0;
  color: $text-color;

  table & {
    font-size: px2em(16px);
  }
}

.ghub-info {
  font-size: px2em(12px);
  margin-left: -20px;
  margin-right: -20px;
  color: #888;
  @extend %list-reset;
  @include border-bottom-radius($border-radius);

 li {
    background-color: #fbfbfc;
    float: left;
    border-top: solid 1px #eee;
    width: 50%;
    text-align: center;
    padding: 12px 0;
  }
}

.author-filter {
  display: inline-block;
  color: #888;
  font-weight: 300;
  font-size: px2em(16px);

  &:hover,
  &:active {
    color: #222;
  }
}

.author {
  position: relative;

  table & {
    &:before {
      top: 1px;
    }
  }

  &:before {
    content: " ";
    background: url('../img/icons.svg') 0 -42px no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 3px;
    position: relative;
    top: 2px;
  }

  a:hover {
    color: $sass-pink;
  }
}

.ghub-stars {
  float: right;
  border-left: solid 1px #eee;
  position: relative;

  table & {
    border-left: none;
    float: none;
    color: #888;

    &:before {
      top: 1px;
    }
  }

  &:before {
    content: " ";
    background: url('../img/icons.svg') 0 0 no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    position: relative;
    top: 2px;
  }
}

.tags {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: px2em(13px);
  color: $link-blue;
}

.tag {
  color: $link-blue;
  @include single-transition(color, $transition-speed);

  &:hover {
    color: $sass-pink;
  }
}


// -
// Extension table view
.extension-list {
  @extend %container;

  table {
    width: 100%;
    margin: 0 15px 100px;

    thead {
      font-weight: bold;

      tr {
        line-height: 43px;
        color: #a5a19c;
      }
    }

    tbody {
      td {
        padding: 25px 0;
      }
    }

    tr {
      border-bottom: $border-style;
      color: $text-color;
    }
  }
}


// -
// Footer styles

footer {
  background: #f8f8fa image-url('circle-pattern.png') 50% 44% no-repeat;
  padding-top: px2em(40px);
  padding-bottom: px2em(40px);
  text-align: center;
  padding-left: $container-padding-default;
  padding-right: $container-padding-default;

  @include mq(large) {
    padding-left: $container-padding-large;
    padding-right: $container-padding-large;
  }

  @include mq(xlarge) {
    padding-left: $container-padding-xlarge;
    padding-right: $container-padding-xlarge;
  }

  a {
    color: inherit;

    &:hover,
    &:active {
      color: $sass-pink;
    }
  }
}

.footer-title {
  font-size: px2em(28px);
  margin-bottom: 0;
}

.authors {
  color: #888;
  margin-top: px2em(4px);
}