// -
// Feature cards

#featured {
  margin-top: 30px;
  margin-bottom: 50px;
  @extend %container;

  @include mq(medium) {
    margin-top: 80px;
  }

  @include mq(xlarge) {
    margin-top: 50px;
  }
}

.featured-cards {
  @extend %list-reset;

  @include mq(medium) {
    display: table;
    height: 100%;
  }
}

.feature-card {
  margin: 0 0 px2em(20px);
  width: 100%;

  @include mq(medium) {
    width: 33.333%;
    height: 100%;
    display: table-cell;
    position: relative;
    &:first-child {
      > span {
        border-right: none;
        @include border-left-radius($border-radius);
      }
    }
    &:last-child {
      > span {
        border-left: none;
        @include border-right-radius($border-radius);
      }
    }
  }

    // The actual card
    > span {
      background-color: #fff;
      display: block;
      position: relative;
      border: $border-style;
      height: 100%;
   }
}

.card-title {
  font-size: px2em(22px);
  line-height: 1.5;
  padding: 20px 25px 0;
  @extend %reset-margin-top;

  table & {
    padding-left: 25px;
  }
}

.title-link {
  display: block;
  width: 100%;
  color: $sass-pink;
  cursor: pointer;
  @extend %tisa-serif;

  &:hover,
  &:active {
    color: darken($sass-pink, 20%);
  }

  table & {
    font-size: px2em(14px);
    margin-bottom: 12px;

    @include mq(medium) {
      margin-top: -6px;
      margin-bottom: 0px;
    }
  }
}

.card-description-wrapper {
  overflow: hidden;
  padding-bottom: px2em(16px);
  padding: 0 25px 25px;
  @include box-sizing(content-box);

  @include mq(medium) {
    margin-bottom: 90px;
  }

  @include mq(large) {
    margin-bottom: 50px;
  }
}

.card-description {
  font-size: px2em(16px);
  line-height: 1.6;
  margin-bottom: px2em(16px);
  color: $text-color;
  @extend %reset-margin-top;

  table & {
    font-size: px2em(14px);
    line-height: 1.6;
  }
}

.ghub-info {
  color: #888;
  background-color: #fbfbfc;
  @extend %list-reset;
  @include border-bottom-radius($border-radius);

 li {
    background-color: #fbfbfc;
    float: left;
    border-top: solid 1px #eee;
    width: 100%;
    text-align: center;
    color: #888 !important;
    padding: 12px 0;
    font-size: px2em(14px);

    @include mq(small) {
      width: 50%;
    }

    @include mq(medium) {
      width: 100%;
    }

    @include mq(large) {
      width: 50%;
    }
  }

  @include mq(medium) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.author-filter {
  display: inline-block;
  color: #888;

  &:hover,
  &:active {
    color: #222;
  }
}

.author {
  position: relative;
  cursor: pointer;
  border-right: none;

  @include mq(small) {
    border-right: solid 1px #eee;
  }

  @include mq(medium) {
    border-right: none;
  }

  @include mq(large) {
    border-right: solid 1px #eee;
  }

  &:before {
    content: " ";
    background: url('../img/icons.svg') 0 -42px no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 3px;
    position: relative;
    top: 2px;
  }

  a:hover {
    color: $sass-pink;
  }

  table & {
    border-right: none;
    font-size: 13px;
  }
}

.ghub-stars {
  float: right;
  position: relative;

  table & {
    float: none;
    font-size: 13px;
  }

  &:before {
    content: " ";
    background: url('../img/icons.svg') 0 0 no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 2px;
    position: relative;
    top: 2px;

    @include mq(medium) {
      margin-right: 5px;
    }
  }
}

.tags {
  padding-bottom: 0;
  margin-bottom: 5px;
  color: $link-blue;
}

.tag {
  &:after {
    content: ",";
    display: inline-block;
    color: #333;
    margin-left: -3px;
  }

  &:last-child {
    &:after {
      content: "";
    }
  }
}
.tag-list {
  table & {
    line-height: 1.45;
    margin-bottom: 12px;

    @include mq(medium) {
      margin-bottom: 0;
    }
  }
}

.tag {
  color: $link-blue;
  font-size: px2em(14px);
  @include single-transition(color, $transition-speed);

  &:hover {
    color: $sass-pink;
  }
}


// -
// Extension table view
.extension-list {
  @extend %container;

  h3 {
    margin-top: 30px;

    @include mq(medium) {
      margin-top: 80px;
    }

    small {
      color: lighten($text-color, 40%);
      display: block;

      @include mq(medium) {
        display: inline;
        margin-left: 10px;
      }
    }
  }

  table {
    width: 100%;
    margin: 0;
    padding: 0 15px;

    @include mq(medium) {
      @include border-top-radius($border-radius);
      @include box-shadow(0 0 0 1px #ddd);
      background-color: #fff;
    }

    thead {
      background-color: darken(#F8F8FA, 7%);
      font-weight: bold;
      border-bottom: $border-style;
      border-radius: 5px !important;
      @include mq-max($mq-medium - 1) {
        display: none;
      }

      tr {
        th:first-child {
          padding-left: 25px;
          @include border-top-left-radius($border-radius);
        }
        th:last-child {
          @include border-top-right-radius($border-radius);
        }
      }

      th {

        text-align: left;
      }

      td, th {
        line-height: 43px;
        color: #a5a19c;
        padding: 0 10px;
        &:first-child {
          padding-left: 0
        }
      }
    }

    tbody {
      td {
        padding: 20px 10px;
        @include mq(medium) {
          &:first-child {
            padding-left: 25px;
          }
        }
        @include mq-max($mq-medium - 1) {
          padding: 0;
        }
      }
      tr {
        &:last-child {
          td:first-child {
            @include border-bottom-left-radius($border-radius);
          }
          td:last-child {
            @include border-bottom-right-radius($border-radius);
          }
        }

        &:nth-child(even) {
          background-color: #fcfcfc;
        }
      }
    }

    tr {
      border-bottom: solid 1px #eee;
      color: #888;
      @include mq-max($mq-medium - 1) {
        display: block;
        border: $border-style;
        padding: 20px;
        margin-bottom: 20px;
        @include border-radius($border-radius);
      }
      &:last-child {
        @include mq(medium) {
          border-bottom: none;
        }
      }
    }

    td {
      vertical-align: top;
      @include mq-max($mq-medium - 1) {
        display: block;
      }
    }
  }
}


.sortable {
  a {
    display: block;
    width: 100%;
    position: relative;
    cursor: pointer;

    &:hover {
      color: darken(#a5a19c, 10%);
    }

    &:after {
      display: block;
      content: "";
      width: 11px;
      height: 15px;
      position: absolute;
      right: 8px;
      top: 15px;
      background: url('../img/arrows.svg') -36px -2px no-repeat;
      background-size: 50px auto;
      @include opacity(0.4);
    }


    &.current {
      &.asc {
        &:after {
          background-position: -2px -1px;
          @include opacity(1);
        }

      }

      &.desc {
        &:after {
          background-position: -20px -1px;
          @include opacity(1);
        }

      }
    }

  }
}