// -
// Feature cards

#featured {
  margin-bottom: 50px;
  @extend %container;

  h3 {
    color: $text-color;
    font-size: px2em(16px);
    text-align: center;
    margin-bottom: px2em(30px);
  }

  ul {
    display: block;
    @extend %list-reset;
    @extend %clear-float;
  }
}

.feature-card {
  margin: 0 0 px2em(20px);
  width: 100%;
  height: auto;

  @include mq(small) {
    float: left;
    padding: 0 px2em(16px) 0;
    width: 33.33%;
  }

  > span {
    display: block;
    border: $border-style;
    padding-bottom: 0;
    @include border-radius($border-radius);
  }
}

.card-title {
  display: block;
  font-size: px2em(22px);
  line-height: 1.2;
  padding: 20px 20px 0;
  @extend %reset-margin-top;
}

.title-link {
  display: block;
  width: 100%;
  color: $sass-pink;
  font-weight: 600;

  &:hover,
  &:active {
    color: darken($sass-pink, 20%);
  }
}

.card-description-wrapper {
  overflow: hidden;
  padding-bottom: px2em(16px);
  position: relative;
  padding: 0 20px 20px;
  @include box-sizing(content-box);
}

.card-description {
  line-height: 1.5;
  font-size: px2em(14px);
  margin-bottom: px2em(20px);
  margin-top: 0;
  color: $text-color;

  table & {
    font-size: px2em(16px);
  }
}

.ghub-info {
  font-size: px2em(12px);
  margin-left: -20px;
  margin-right: -20px;
  color: #888;
  @extend %list-reset;
  @include border-bottom-radius($border-radius);

 li {
    background-color: #fbfbfc;
    float: left;
    border-top: solid 1px #eee;
    width: 50%;
    text-align: center;
    padding: 12px 0;
  }
}

.author-filter {
  display: inline-block;
  color: #888;
  font-weight: 300;
  font-size: px2em(16px);

  &:hover,
  &:active {
    color: #222;
  }
}

.author {
  position: relative;

  table & {
    &:before {
      top: 1px;
    }
  }

  &:before {
    content: " ";
    background: url('../img/icons.svg') 0 -42px no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 3px;
    position: relative;
    top: 2px;
  }

  a:hover {
    color: $sass-pink;
  }
}

.ghub-stars {
  float: right;
  border-left: solid 1px #eee;
  position: relative;

  table & {
    border-left: none;
    float: none;
    color: #888;

    &:before {
      top: 1px;
    }
  }

  &:before {
    content: " ";
    background: url('../img/icons.svg') 0 0 no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    position: relative;
    top: 2px;
  }
}

.tags {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: px2em(13px);
  color: $link-blue;
}

.tag {
  color: $link-blue;
  @include single-transition(color, $transition-speed);

  &:hover {
    color: $sass-pink;
  }
}


// -
// Extension table view
.extension-list {
  @extend %container;

  table {
    width: 100%;
    margin: 0 15px 100px;

    thead {
      font-weight: bold;

      tr {
        line-height: 43px;
        color: #a5a19c;
      }
    }

    tbody {
      td {
        padding: 25px 0;
      }
    }

    tr {
      border-bottom: $border-style;
      color: $text-color;
    }
  }
}