// -
// Feature cards

#featured {
  margin-bottom: 50px;
  @extend %container;
}

.featured-cards {
  @extend %list-reset;

  @include mq(medium) {
    display: table;
    height: 100%;
  }
}

.feature-card {
  margin: 0 0 px2em(20px);
  width: 100%;

  @include mq(medium) {
    padding: 0 px2em(16px) 0;
    width: 33.333%;
    height: 100%;
    display: table-cell;
    position: relative;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

   > span {
      display: block;
      position: relative;
      border: $border-style;
      height: 100%;
      @include border-radius($border-radius);
   }
}

.card-title {
  font-size: px2em(22px);
  line-height: 1.5;
  padding: 20px 20px 0;
  @extend %reset-margin-top;
}

.title-link {
  display: block;
  width: 100%;
  color: $sass-pink;
  cursor: pointer;
  @extend %tisa-serif;

  &:hover,
  &:active {
    color: darken($sass-pink, 20%);
  }

  table & {
    margin-top: -4px;
    margin-bottom: 12px;

    @include mq(medium) {
      margin-top: -9px;
      margin-bottom: 0px;
    }
  }
}

.card-description-wrapper {
  overflow: hidden;
  padding-bottom: px2em(16px);
  padding: 0 20px 20px;
  @include box-sizing(content-box);

  @include mq(medium) {
    margin-bottom: 90px;
  }

  @include mq(large) {
    margin-bottom: 50px;
  }
}

.card-description {
  font-size: px2em(16px);
  line-height: 1.6;
  margin-bottom: px2em(16px);
  color: $text-color;
  @extend %reset-margin-top;

  table & {
    font-size: px2em(14px);
    line-height: 1.6;
  }
}

.ghub-info {
  color: #888;
  background-color: #fbfbfc;
  @extend %list-reset;
  @include border-bottom-radius($border-radius);

 li {
    background-color: #fbfbfc;
    float: left;
    border-top: solid 1px #eee;
    width: 100%;
    text-align: center;
    padding: 12px 0;

    @include mq(small) {
      width: 50%;
    }

    @include mq(medium) {
      width: 100%;
    }

    @include mq(large) {
      width: 50%;
    }
  }

  @include mq(medium) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.author-filter {
  display: inline-block;
  color: #888;
  font-size: px2em(14px);

  &:hover,
  &:active {
    color: #222;
  }
}

.author {
  position: relative;
  cursor: pointer;

  &:before {
    content: " ";
    background: url('../img/icons.svg') 0 -42px no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 3px;
    position: relative;
    top: 2px;
  }

  a:hover {
    color: $sass-pink;
  }

  table & {
    line-height: 1.5;
  }
}

.ghub-stars {
  float: right;
  border-left: solid 1px #eee;
  position: relative;
  font-size: px2em(13px);

  table & {
    border-left: none;
    float: none;
    color: #888 !important;
    line-height: 2.1;
  }

  &:before {
    content: " ";
    background: url('../img/icons.svg') 0 0 no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 2px;
    position: relative;
    top: 2px;

    @include mq(medium) {
      margin-right: 5px;
    }
  }
}

.tags {
  padding-bottom: 0;
  margin-bottom: 5px;
  color: $link-blue;
}

.tag-list {
  .tag {
    &:after {
      content: ",";
      display: inline-block;
      color: #333;
      margin-left: -3px;
    }

    &:last-child {
      &:after {
        content: "";
      }
    }
  }

  table & {
    line-height: 1.45;
    margin-bottom: 12px;

    @include mq(medium) {
      margin-bottom: 0;
    }
  }
}

.tag {
  color: $link-blue;
  font-size: px2em(14px);
  @include single-transition(color, $transition-speed);

  &:hover {
    color: $sass-pink;
  }
}


// -
// Extension table view
.extension-list {
  @extend %container;

  h3 {
    margin-top: 80px;
  }

  table {
    width: 100%;
    margin: 0 0 100px;
    padding: 0 15px;

    thead {
      font-weight: bold;
      @include mq-max($mq-medium - 1) {
        display: none;
      }

      td {
        line-height: 43px;
        color: #a5a19c;
        padding: 0 10px;
        &:first-child {
          padding-left: 0
        }
      }
    }

    tbody {
      td {
        padding: 20px 10px;
        @include mq(medium) {
          &:first-child {
            padding-left: 0
          }
        }
        @include mq-max($mq-medium - 1) {
          padding: 0;
        }
      }
    }

    tr {
      border-bottom: $border-style;
      color: $text-color;
      @include mq-max($mq-medium - 1) {
        display: block;
        border: $border-style;
        padding: 20px;
        margin-bottom: 20px;
        @include border-radius($border-radius);
      }
    }

    td {
      vertical-align: top;
      @include mq-max($mq-medium - 1) {
        display: block;
      }
    }
  }
}