// -
// Footer styles

footer {
  background: #f8f8fa  url('../img/circle-pattern.png') 50% 44% no-repeat;
  text-align: center;
  padding-left: $container-padding-default;
  padding-right: $container-padding-default;

  @include mq(large) {
    padding-left: $container-padding-large;
    padding-right: $container-padding-large;
  }

  @include mq(xlarge) {
    padding-left: $container-padding-xlarge;
    padding-right: $container-padding-xlarge;
  }

  a {
    color: inherit;

    &:hover,
    &:active {
      color: $sass-pink;
    }
  }

  .note {
    @include mq(small) {
      width: 340px;
      margin: 0 auto;
    }
  }
}

.footer-wrap {
  @include vertical-align;
}

.footer-title {
  font-size: px2em(28px);
  margin: 0;
}

.authors {
  color: #888;
  margin: 0;
  margin-top: px2em(4px);
  margin-bottom: px2em(10px);
}