// -
// Global styles

*, * * {
  @include box-sizing(border-box);
}

html,
body {
  height: 100%;
}

body {
  font-size: px2em(16px);
}

.img-404 {
  text-align: center
}

// Sticky footer
.container {
  min-height: 100%;
}
.main-content {
  padding-bottom: $footer-height + 80;
  overflow: auto;

  @include mq(small) {
    padding-bottom: $footer-height + 50;
  }

  @include mq(medium) {
    padding-bottom: $footer-height;
  }
}
footer {
  height: $footer-height + 80;
  margin-top: -($footer-height + 80);

  @include mq(small) {
    height: $footer-height + 50;
    margin-top: -($footer-height + 50);
  }

  @include mq(medium) {
    height: $footer-height;
    margin-top: -$footer-height;
  }
}

.button {
  background-color: darken($sass-pink, 10%);
  display: inline-block;
  margin-bottom: px2em(20px);
  font-size: px2em(14px);
  font-weight: bold;
  color: #fff;
  line-height: px2em(35px);
  border: none;
  @include border-right-radius($border-radius);
  @include single-transition(background-color, $transition-speed, linear);

  &:hover {
    background-color: darken($sass-pink, 15%);
  }
  &:active {
    outline: none;
  }
}