// -
// Global styles

*, * * {
  @include box-sizing(border-box);
}

html,
body {
  height: 100%;
}

body {
  font-size: px2em(16px);
}

// Sticky footer 2010
.container {
  min-height: 100%;
}
.main-content {
  padding-bottom: 150px;
  overflow: auto;
}
footer {
  height: 150px;
  margin-top: -150px;
}

.button {
  background-color: darken($sass-pink, 20%);
  display: inline-block;
  padding: 0 px2em(22px);
  margin-bottom: px2em(20px);
  font-size: px2em(14px);
  font-weight: bold;
  color: #fff;
  line-height: px2em(39px);
  border: none;
  @include border-right-radius($border-radius);
  @include single-transition(background-color, $transition-speed, linear);

  &:hover {
    background-color: darken($sass-pink, 15%);
  }
  &:active {
    outline: none;
  }
}