// -
// Title header area

header {
  background: #f8f8fa url('../img/circle-pattern.png') 50% 45% no-repeat;
  margin-bottom: px2em(30px);
  padding: px2em(20px) $container-padding-default px2em(26px);
  text-align: center;

  @include mq(medium) {
    padding: px2em(50px) $container-padding-large px2em(60px);
  }

  @include mq(xlarge) {
    padding: px2em(80px) $container-padding-xlarge px2em(94px);
  }
}

.page-title {
  margin-bottom: px2em(4px);
  font-size: px2em(32px);
  line-height: 1.3;
  color: $text-color;
  @extend %reset-margin-top;

  @include mq(medium) {
    font-size: px2em(40px);
  }

  @include mq(large) {
    font-size: px2em(46px);
  }
}

.page-description {
  font-size: px2em(14px);
  color: $text-color;
  margin-bottom: 0;
  line-height: 1.5;

  @include mq(medium) {
    font-size: px2em(16px);
  }

  @include mq(large) {
    font-size: px2em(18px);
  }

  a {
    color: $link-blue;
    @include single-transition(color, $transition-speed, linear);

    &:hover {
      color: $sass-pink;
    }
  }
}