$base-size: 16px;
$container-padding-default: 20px;
$container-padding-large: 5%;
$container-padding-xlarge: 15%;
$transition-speed: 200ms;
$transion-speed-search: 350ms;
$sass-pink: #c6538c;
$link-blue: #7ca4ab;
$text-color: #706c69;
$sache-bar-height: 60px;
$border-radius: 2px;
$mq-small: 520px;
$mq-medium: 768px;
$mq-large: 1024px;
$mq-xlarge: 1500px;
$border-style: solid 1px #ddd;

@function px2em($target, $context:$base-size){
  @return ($target/$context) + 0em;
}

// Mobile-first media query mixin
@mixin mq($min-value) {
  @if $min-value == small {
    @media all and (min-width: $mq-small) { @content; }
  }
  @else if $min-value == medium {
    @media all and (min-width: $mq-medium) { @content; }
  }
  @else if $min-value == large {
    @media all and (min-width: $mq-large) { @content; }
  }
  @else if $min-value == xlarge {
    @media all and (min-width: $mq-xlarge) { @content; }
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin placeholder-style {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder {  @content; }
  &::-moz-placeholder {  @content; }
  &:-ms-input-placeholder { @content; }
}

%container {
  padding: 0 $container-padding-default 0px;
  @include mq(large) { padding: 0 $container-padding-large 0px; }
  @include mq(xlarge) { padding: 0 $container-padding-xlarge 0px; }
}

%list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

%reset-margin-top { margin-top: 0; }

%clear-float {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

%tisa-serif {
  font-family: "ff-tisa-web-pro", serif;
}

%tisa-sans-serif {
  font-family: "ff-tisa-sans-web-pro", sans-serif;
}