// -
// Modal

.modal-tarp {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(#000,0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: scroll;
}

.add-project {
  background: $sass-pink;
  padding: px2em(30px);
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -50%;
  @include opacity(0);
  @include single-transition(all, $transition-speed, ease-in-out, 200ms);
  @include scale(1.1);

  @include mq(medium) {
    top: 100px;
    width: 80%;
    margin-left: -40%;
    position: absolute;
    @include border-radius($border-radius);
  }

  @include mq(large) {
    width: 60%;
    margin-left: -30%;
  }

  &.modal-open {
    @include opacity(1);
    @include scale(1);
  }
}

.add-project-title {
  font-size: px2em(20px);
  line-height: 1.2;
  padding-right: 20px;
  color: #fff;
  @extend %reset-margin-top;
}

.instruction-list {
  padding-left: 20px;
  color: #fff;

  li p code {
    background-color: darken($sass-pink, 5%);
    color: #f2d9e6;
    padding: 2px 5px;
    @include border-radius(2px);
  }
}

.field {
  width: 100%;

  @include mq(small) {
    float: left;
    width: 80%;
  }
}

form.processing .button {
  text-indent: -9999px;
  background-image: url('../img/spinner.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20%;
  cursor: default;
  &:hover {
    background-color: darken($sass-pink, 20%);
  }
}

.actions {
  .button {
    line-height: 38px;
    font-size: px2em(16px);
    font-weight: normal;
    width: 100%;
    @include border-radius($border-radius);
    @extend %tisa-serif;

    @include mq(small) {
      width: 20%;
      @include border-left-radius(0);
    }
  }
}

.add-url {
  border: none;
  color: #333;
  line-height: 40px;
  width: 100%;
  font-size: px2em(16px);
  padding-left: 5px;
  margin-bottom: 10px;
  @include border-radius($border-radius);

  @include mq(small) {
    margin-bottom: 0px;
    @include border-right-radius(0);
  }

  &:focus {
    outline: none;
  }
}

.cancel-button {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: px2em(30px);
  color: rgba(#fff, 0.6);
  @include single-transition(color, $transition-speed);

  &:hover,
  &:active {
    color: rgba(#fff, 1);
  }
}

// Global error messaging
.response-bar {
  width: 100%;
  padding: 20px;
  font-size: px2em(18px);
  position: relative;
  top: -100px;
  @include transition(top 200ms 50ms cubic-bezier(0.360, -0.270, 0.490, 1.290));

  .response-text {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    @extend %tisa-sans-serif;
  }

  &.error {
    background: #a20237;
    color: #fff;
  }

  &.success {
    background: #3b620c;
    color: #fff;
  }

  &.show {
    top: 0;
  }
}