// -
// Sache action bar

.sache-bar {
  background: $sass-pink url('../img/wave-pattern.png') 0 0 repeat-x;
  overflow: hidden;
  padding: 0 px2em(80px);
  height: px2em($sache-bar-height);
}

.logo {
  margin: 0;
  color: #fff;
  float: left;
  @include vertical-align;

  img {
    height: 32px;
    margin-top: 5px;
  }
}

.sache-bar-actions {
  float: right;
  height: px2em($sache-bar-height);
  @extend %list-reset;

  li {
    float: left;
    color: rgba(#fff, 0.6);
    overflow: hidden;
    height: 100%;
    @include single-transition(color, $transition-speed, linear);

    a {
      color: rgba(#fff, 1);
      display: inline-block;
      height: 100%;
      line-height: $sache-bar-height;
      @include opacity(0.5);
      @include opacity(0.5);
      @include single-transition(opacity, $transition-speed, linear);

      &:hover {
        @include opacity(1.0);
      }
    }
  }
}

.sache-add-extension {
  border-left: solid 1px rgba(#fff, 0.1);

  a {
    background: url('../img/icons.svg') 40px -105px no-repeat;
    position: relative;
    padding-left: px2em(70px);
  }
}

.sache-search {

  input {
    background: transparent url('../img/icons.svg') 20px -58px no-repeat;
    border: 0;
    padding: 5px 5px 4px 49px;
    margin-left: 10px;
    height: 100%;
    color: #fff;
    width: 150px;
    @include opacity(0.5);
    @include border-radius($border-radius);
    @include vertical-align;
    @include single-transition(all, $transition-speed, linear);
    @include placeholder-style {
      color: #fff;
    }

    &.activated {
      left: 0;
      background-color: lighten($sass-pink, 15%);
    }

    &:focus {
      outline: none;
      background-color: darken($sass-pink, 5%);
      width: 250px;
      @include opacity(1);
    }
  }
}
