// -
// Sache action bar

.sache-bar {
  background: $sass-pink url('../img/wave-pattern.png') 0 0 repeat-x;
  padding: 0;
  overflow: hidden;
  height: px2em($sache-bar-height * 2);

  @include mq(medium) {
    height: px2em($sache-bar-height);
    padding: 0 px2em(15px);
  }
}

.logo {
  margin: 0;
  color: #fff;
  text-align: center;

  img {
    height: 35px;
    margin-top: 10px;
  }

  @include mq(medium) {
    float: left;
    text-align: left;
    @include vertical-align;
  }
}

.sache-bar-actions {
  height: px2em($sache-bar-height + 2px);
  background-color: darken($sass-pink, 5%);
  @extend %list-reset;

  li {
    float: left;
    color: rgba(#fff, 0.6);
    overflow: hidden;
    height: 100%;
    width: 50%;
    @include single-transition(color, $transition-speed, linear);

    a {
      color: transparent;
      display: inline-block;
      height: 100%;
      line-height: $sache-bar-height;
      @include single-transition(opacity, $transition-speed, linear);

      &:hover {
        @include opacity(1.0);
      }

      @include mq(medium) {
        color: rgba(#fff, 1);
        @include opacity(0.5);
      }
    }

    @include mq(medium) {
      width: auto;
    }
  }

  @include mq(medium) {
    float: right;
    background-color: transparent;
  }
}

.sache-add-extension {
  border-left: solid 1px rgba(#fff, 0.1);

  a {
    background: url('../img/icons.svg') 50% -102px no-repeat;
    position: relative;
    width: 100%;
    padding-left: px2em(70px);
    padding-right: px2em(25px);

    @include mq(medium) {
      background-position: 40px -104px !important;
      width: auto;
    }
  }
}

.sache-search {

  form {
    height: 99%;
  }

  input {
    background: darken($sass-pink, 5%) url('../img/icons.svg') 50% -58px no-repeat;
    border: 0;
    height: 100%;
    color: #fff;
    width: 100%;
    text-align: center;
    @include vertical-align;
    @include placeholder-style {
      color: transparent;
    }

    @include mq(medium) {
      background-color: $sass-pink;
    }

    &.activated {
      left: 0;
      background-color: lighten($sass-pink, 15%);
    }

    &:focus {
      outline: none;
      background-image: none !important;
      background-color: darken($sass-pink, 5%);
      @include opacity(1);
      @include placeholder-style {
        color: rgba(255,255,255,0.5);
      }

      @include mq(medium) {
        width: 250px;

        &:before {
          display: none;
        }
      }
    }

    @include mq(medium) {
      background-position: 20px -57px !important;
      width: 150px;
      margin-left: 10px;
      padding: 5px 5px 4px 49px;
      text-align: left;
      color: #fff;
      @include transition(width $transion-speed-search  cubic-bezier(0.360, -0.270, 0.490, 1.290), background-color $transition-speed linear);
      @include opacity(0.5);
      @include placeholder-style {
        color: #fff;
      }
    }
  }
}
