%tisa-serif {
  font-family: "ff-tisa-web-pro", serif;
}

%tisa-sans-serif {
  font-family: "ff-tisa-sans-web-pro", sans-serif;
}

a {
  text-decoration: none;
  @include single-transition(color, $transition-speed, linear);
}

p {
  font-weight: 400;
  @extend %tisa-sans-serif;
}

pre {
  background-color: darken($sass-pink, 13%);
  padding: px2em(14px);
  margin-bottom: px2em(30px);
  overflow: scroll;
  @include border-radius($border-radius);

  code {
    display: block;
    color: lighten($sass-pink, 35%);
    white-space: pre;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  @extend %tisa-serif;
}