body {
  @extend %tisa-sans-serif;
}

a {
  text-decoration: none;
  @include single-transition(color, $transition-speed, linear);
}

p {
  font-weight: 400;
}

// Note texts
.note {
  font-size: px2em(12px);
  margin-bottom: px2em(30px);

  .instruction-list & a {
    color: rgba(#fff, 0.60);
    &:hover {
      color: rgba(#fff, 1);
    }
  }

  .footer-wrap & {
    color: lighten(#888, 20%);
    margin-bottom: 0;
    margin-top: 0;
  }
}

pre {
  background-color: darken($sass-pink, 5%);
  padding: px2em(14px);
  overflow: auto;
  @include border-radius($border-radius);

  code {
    display: block;
    color: lighten($sass-pink, 35%);
    white-space: pre;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  @extend %tisa-serif;
}

h3 {
  color: $text-color;
  font-size: px2em(16px);
  font-weight: bold;
  text-align: center;
  margin-bottom: px2em(30px);
}