/* line 59, ../../sass/_helpers.scss */
#featured, .extension-list, .pagination {
  padding: 0 20px 0px;
}
@media all and (min-width: 1024px) {
  /* line 59, ../../sass/_helpers.scss */
  #featured, .extension-list, .pagination {
    padding: 0 5% 0px;
  }
}
@media all and (min-width: 1500px) {
  /* line 59, ../../sass/_helpers.scss */
  #featured, .extension-list, .pagination {
    padding: 0 15% 0px;
  }
}

/* line 65, ../../sass/_helpers.scss */
.sache-bar-actions, .featured-cards, .ghub-info {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 72, ../../sass/_helpers.scss */
.page-title, .card-title, .card-description, .add-project-title {
  margin-top: 0;
}

/* line 79, ../../sass/_helpers.scss */
h1,
h2,
h3,
h4,
h5,
h6, .title-link, .actions .button {
  font-family: "ff-tisa-web-pro", serif;
}

/* line 83, ../../sass/_helpers.scss */
body, .response-bar .response-text {
  font-family: "ff-tisa-sans-web-pro", sans-serif;
}

/* line 4, ../../sass/_globals.scss */
*, * * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../../sass/_globals.scss */
html,
body {
  height: 100%;
}

/* line 13, ../../sass/_globals.scss */
body {
  font-size: 1em;
}

/* line 17, ../../sass/_globals.scss */
.img-404 {
  text-align: center;
}

/* line 22, ../../sass/_globals.scss */
.container {
  min-height: 100%;
}

/* line 25, ../../sass/_globals.scss */
.main-content {
  padding-bottom: 280px;
  overflow: auto;
}
@media all and (min-width: 520px) {
  /* line 25, ../../sass/_globals.scss */
  .main-content {
    padding-bottom: 250px;
  }
}
@media all and (min-width: 768px) {
  /* line 25, ../../sass/_globals.scss */
  .main-content {
    padding-bottom: 200px;
  }
}

/* line 37, ../../sass/_globals.scss */
footer {
  height: 280px;
  margin-top: -280px;
}
@media all and (min-width: 520px) {
  /* line 37, ../../sass/_globals.scss */
  footer {
    height: 250px;
    margin-top: -250px;
  }
}
@media all and (min-width: 768px) {
  /* line 37, ../../sass/_globals.scss */
  footer {
    height: 200px;
    margin-top: -200px;
  }
}

/* line 52, ../../sass/_globals.scss */
.button {
  background-color: #ad3972;
  display: inline-block;
  margin-bottom: 1.25em;
  font-size: 0.875em;
  font-weight: bold;
  color: #fff;
  line-height: 2.1875em;
  border: none;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
/* line 64, ../../sass/_globals.scss */
.button:hover {
  background-color: #9a3366;
}
/* line 67, ../../sass/_globals.scss */
.button:active {
  outline: none;
}

/* line 5, ../../sass/_type.scss */
a {
  text-decoration: none;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}

/* line 10, ../../sass/_type.scss */
p {
  font-weight: 400;
}

/* line 15, ../../sass/_type.scss */
.note {
  font-size: 0.75em;
  margin-bottom: 1.875em;
}
/* line 19, ../../sass/_type.scss */
.instruction-list .note a {
  color: rgba(255, 255, 255, 0.6);
}
/* line 21, ../../sass/_type.scss */
.instruction-list .note a:hover {
  color: white;
}
/* line 26, ../../sass/_type.scss */
.footer-wrap .note {
  color: #bbbbbb;
  margin-bottom: 0;
  margin-top: 0;
}

/* line 33, ../../sass/_type.scss */
pre {
  background-color: #c0407f;
  padding: 0.875em;
  overflow: auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 39, ../../sass/_type.scss */
pre code {
  display: block;
  color: #f2d9e6;
  white-space: pre;
}

/* line 51, ../../sass/_type.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* line 56, ../../sass/_type.scss */
h3 {
  color: #706c69;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.875em;
}

/* line 4, ../../sass/_sache_bar.scss */
.sache-bar {
  background: #c6538c url("../img/wave-pattern.png") 0 0 repeat-x;
  padding: 0;
  overflow: hidden;
  height: 7.5em;
}
@media all and (min-width: 768px) {
  /* line 4, ../../sass/_sache_bar.scss */
  .sache-bar {
    height: 3.75em;
    padding: 0 0.9375em;
  }
}

/* line 16, ../../sass/_sache_bar.scss */
.logo {
  margin: 0;
  color: #fff;
  text-align: center;
}
/* line 21, ../../sass/_sache_bar.scss */
.logo img {
  height: 35px;
  margin-top: 10px;
}
@media all and (min-width: 768px) {
  /* line 16, ../../sass/_sache_bar.scss */
  .logo {
    float: left;
    text-align: left;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

/* line 33, ../../sass/_sache_bar.scss */
.sache-bar-actions {
  height: 3.875em;
  background-color: #c0407f;
}
/* line 38, ../../sass/_sache_bar.scss */
.sache-bar-actions li {
  float: left;
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  height: 100%;
  width: 50%;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}
/* line 46, ../../sass/_sache_bar.scss */
.sache-bar-actions li a {
  color: transparent;
  display: inline-block;
  height: 100%;
  line-height: 60px;
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
/* line 53, ../../sass/_sache_bar.scss */
.sache-bar-actions li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@media all and (min-width: 768px) {
  /* line 46, ../../sass/_sache_bar.scss */
  .sache-bar-actions li a {
    color: white;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
}
@media all and (min-width: 768px) {
  /* line 38, ../../sass/_sache_bar.scss */
  .sache-bar-actions li {
    width: auto;
  }
}
@media all and (min-width: 768px) {
  /* line 33, ../../sass/_sache_bar.scss */
  .sache-bar-actions {
    float: right;
    background-color: transparent;
  }
}

/* line 74, ../../sass/_sache_bar.scss */
.sache-add-extension {
  border-left: solid 1px rgba(255, 255, 255, 0.1);
}
/* line 77, ../../sass/_sache_bar.scss */
.sache-add-extension a {
  background: url("../img/icons.svg") 50% -102px no-repeat;
  position: relative;
  width: 100%;
  padding-left: 4.375em;
  padding-right: 1.5625em;
}
@media all and (min-width: 768px) {
  /* line 77, ../../sass/_sache_bar.scss */
  .sache-add-extension a {
    background-position: 40px -104px !important;
    width: auto;
  }
}

/* line 93, ../../sass/_sache_bar.scss */
.sache-search form {
  height: 99%;
}
/* line 97, ../../sass/_sache_bar.scss */
.sache-search input {
  background: #c0407f url("../img/icons.svg") 50% -58px no-repeat;
  border: 0;
  height: 100%;
  color: #fff;
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 53, ../../sass/_helpers.scss */
.sache-search input::-webkit-input-placeholder {
  color: transparent;
}
/* line 54, ../../sass/_helpers.scss */
.sache-search input:-moz-placeholder {
  color: transparent;
}
/* line 55, ../../sass/_helpers.scss */
.sache-search input::-moz-placeholder {
  color: transparent;
}
/* line 56, ../../sass/_helpers.scss */
.sache-search input:-ms-input-placeholder {
  color: transparent;
}
@media all and (min-width: 768px) {
  /* line 97, ../../sass/_sache_bar.scss */
  .sache-search input {
    background-color: #c6538c;
  }
}
/* line 113, ../../sass/_sache_bar.scss */
.sache-search input.activated {
  left: 0;
  background-color: #d98cb2;
}
/* line 118, ../../sass/_sache_bar.scss */
.sache-search input:focus {
  outline: none;
  background-image: none !important;
  background-color: #c0407f;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 53, ../../sass/_helpers.scss */
.sache-search input:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
/* line 54, ../../sass/_helpers.scss */
.sache-search input:focus:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
/* line 55, ../../sass/_helpers.scss */
.sache-search input:focus::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
/* line 56, ../../sass/_helpers.scss */
.sache-search input:focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
@media all and (min-width: 768px) {
  /* line 118, ../../sass/_sache_bar.scss */
  .sache-search input:focus {
    width: 250px;
  }
  /* line 130, ../../sass/_sache_bar.scss */
  .sache-search input:focus:before {
    display: none;
  }
}
@media all and (min-width: 768px) {
  /* line 97, ../../sass/_sache_bar.scss */
  .sache-search input {
    background-position: 20px -57px !important;
    width: 150px;
    margin-left: 10px;
    padding: 5px 5px 4px 49px;
    text-align: left;
    color: #fff;
    -webkit-transition: width 350ms cubic-bezier(0.36, -0.27, 0.49, 1.29), background-color 200ms linear;
    -moz-transition: width 350ms cubic-bezier(0.36, -0.27, 0.49, 1.29), background-color 200ms linear;
    -o-transition: width 350ms cubic-bezier(0.36, -0.27, 0.49, 1.29), background-color 200ms linear;
    transition: width 350ms cubic-bezier(0.36, -0.27, 0.49, 1.29), background-color 200ms linear;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
  /* line 53, ../../sass/_helpers.scss */
  .sache-search input::-webkit-input-placeholder {
    color: #fff;
  }
  /* line 54, ../../sass/_helpers.scss */
  .sache-search input:-moz-placeholder {
    color: #fff;
  }
  /* line 55, ../../sass/_helpers.scss */
  .sache-search input::-moz-placeholder {
    color: #fff;
  }
  /* line 56, ../../sass/_helpers.scss */
  .sache-search input:-ms-input-placeholder {
    color: #fff;
  }
}

/* line 4, ../../sass/_header_title.scss */
header {
  background: #f8f8fa url("../img/circle-pattern.png") 50% 45% no-repeat;
  margin-bottom: 1.875em;
  padding: 1.25em 20px 1.625em;
  text-align: center;
}
@media all and (min-width: 768px) {
  /* line 4, ../../sass/_header_title.scss */
  header {
    padding: 3.125em 5% 3.75em;
  }
}
@media all and (min-width: 1500px) {
  /* line 4, ../../sass/_header_title.scss */
  header {
    padding: 5em 15% 5.875em;
  }
}

/* line 19, ../../sass/_header_title.scss */
.page-title {
  margin-bottom: 0.25em;
  font-size: 2em;
  line-height: 1.3;
  color: #706c69;
}
@media all and (min-width: 768px) {
  /* line 19, ../../sass/_header_title.scss */
  .page-title {
    font-size: 2.5em;
  }
}
@media all and (min-width: 1024px) {
  /* line 19, ../../sass/_header_title.scss */
  .page-title {
    font-size: 2.875em;
  }
}

/* line 37, ../../sass/_header_title.scss */
.title-wrapper .page-title {
  display: inline;
  margin-left: 5px;
}
@media all and (min-width: 1024px) {
  /* line 37, ../../sass/_header_title.scss */
  .title-wrapper .page-title {
    margin-left: 10px;
  }
}
/* line 44, ../../sass/_header_title.scss */
.title-wrapper .to-home {
  display: inline;
  font-size: 2.25em;
  font-weight: 300;
  color: #d9d7d6;
  margin-right: 5px;
}
@media all and (min-width: 768px) {
  /* line 44, ../../sass/_header_title.scss */
  .title-wrapper .to-home {
    font-size: 2.625em;
  }
}
@media all and (min-width: 1024px) {
  /* line 44, ../../sass/_header_title.scss */
  .title-wrapper .to-home {
    font-size: 3.125em;
    margin-right: 10px;
  }
}
/* line 60, ../../sass/_header_title.scss */
.title-wrapper .to-home:hover {
  color: #a8a4a2;
}

/* line 66, ../../sass/_header_title.scss */
.page-description {
  font-size: 0.875em;
  color: #706c69;
  margin-bottom: 0;
  line-height: 1.5;
}
@media all and (min-width: 768px) {
  /* line 66, ../../sass/_header_title.scss */
  .page-description {
    font-size: 1em;
  }
}
@media all and (min-width: 1024px) {
  /* line 66, ../../sass/_header_title.scss */
  .page-description {
    font-size: 1.125em;
  }
}
/* line 80, ../../sass/_header_title.scss */
.page-description a {
  color: #7ca4ab;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}
/* line 84, ../../sass/_header_title.scss */
.page-description a:hover {
  color: #c6538c;
}

/* line 4, ../../sass/_extensions.scss */
#featured {
  margin-bottom: 50px;
}

@media all and (min-width: 768px) {
  /* line 9, ../../sass/_extensions.scss */
  .featured-cards {
    display: table;
    height: 100%;
  }
}

/* line 18, ../../sass/_extensions.scss */
.feature-card {
  margin: 0 0 1.25em;
  width: 100%;
}
@media all and (min-width: 768px) {
  /* line 18, ../../sass/_extensions.scss */
  .feature-card {
    padding: 0 1em 0;
    width: 33.333%;
    height: 100%;
    display: table-cell;
    position: relative;
  }
  /* line 28, ../../sass/_extensions.scss */
  .feature-card:first-child {
    padding-left: 0;
  }
  /* line 31, ../../sass/_extensions.scss */
  .feature-card:last-child {
    padding-right: 0;
  }
}
/* line 36, ../../sass/_extensions.scss */
.feature-card > span {
  display: block;
  position: relative;
  border: solid 1px #dddddd;
  height: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 45, ../../sass/_extensions.scss */
.card-title {
  font-size: 1.375em;
  line-height: 1.5;
  padding: 20px 20px 0;
}

/* line 52, ../../sass/_extensions.scss */
.title-link {
  display: block;
  width: 100%;
  color: #c6538c;
  cursor: pointer;
}
/* line 60, ../../sass/_extensions.scss */
.title-link:hover, .title-link:active {
  color: #862d59;
}
/* line 64, ../../sass/_extensions.scss */
table .title-link {
  font-size: 0.875em;
  margin-bottom: 12px;
}
@media all and (min-width: 768px) {
  /* line 64, ../../sass/_extensions.scss */
  table .title-link {
    margin-top: -6px;
    margin-bottom: 0px;
  }
}

/* line 76, ../../sass/_extensions.scss */
.card-description-wrapper {
  overflow: hidden;
  padding-bottom: 1em;
  padding: 0 20px 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
@media all and (min-width: 768px) {
  /* line 76, ../../sass/_extensions.scss */
  .card-description-wrapper {
    margin-bottom: 90px;
  }
}
@media all and (min-width: 1024px) {
  /* line 76, ../../sass/_extensions.scss */
  .card-description-wrapper {
    margin-bottom: 50px;
  }
}

/* line 91, ../../sass/_extensions.scss */
.card-description {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1em;
  color: #706c69;
}
/* line 98, ../../sass/_extensions.scss */
table .card-description {
  font-size: 0.875em;
  line-height: 1.6;
}

/* line 104, ../../sass/_extensions.scss */
.ghub-info {
  color: #888;
  background-color: #fbfbfc;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* line 110, ../../sass/_extensions.scss */
.ghub-info li {
  background-color: #fbfbfc;
  float: left;
  border-top: solid 1px #eee;
  width: 100%;
  text-align: center;
  color: #888 !important;
  padding: 12px 0;
  font-size: 0.875em;
}
@media all and (min-width: 520px) {
  /* line 110, ../../sass/_extensions.scss */
  .ghub-info li {
    width: 50%;
  }
}
@media all and (min-width: 768px) {
  /* line 110, ../../sass/_extensions.scss */
  .ghub-info li {
    width: 100%;
  }
}
@media all and (min-width: 1024px) {
  /* line 110, ../../sass/_extensions.scss */
  .ghub-info li {
    width: 50%;
  }
}
@media all and (min-width: 768px) {
  /* line 104, ../../sass/_extensions.scss */
  .ghub-info {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

/* line 140, ../../sass/_extensions.scss */
.author-filter {
  display: inline-block;
  color: #888;
}
/* line 145, ../../sass/_extensions.scss */
.author-filter:hover, .author-filter:active {
  color: #222;
}

/* line 150, ../../sass/_extensions.scss */
.author {
  position: relative;
  cursor: pointer;
  border-right: solid 1px #eee;
}
/* line 155, ../../sass/_extensions.scss */
.author:before {
  content: " ";
  background: url("../img/icons.svg") 0 -42px no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 3px;
  position: relative;
  top: 2px;
}
/* line 166, ../../sass/_extensions.scss */
.author a:hover {
  color: #c6538c;
}
/* line 170, ../../sass/_extensions.scss */
table .author {
  border-right: none;
  font-size: 13px;
}

/* line 177, ../../sass/_extensions.scss */
.ghub-stars {
  float: right;
  position: relative;
}
/* line 181, ../../sass/_extensions.scss */
table .ghub-stars {
  float: none;
  font-size: 13px;
}
/* line 186, ../../sass/_extensions.scss */
.ghub-stars:before {
  content: " ";
  background: url("../img/icons.svg") 0 0 no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 2px;
  position: relative;
  top: 2px;
}
@media all and (min-width: 768px) {
  /* line 186, ../../sass/_extensions.scss */
  .ghub-stars:before {
    margin-right: 5px;
  }
}

/* line 202, ../../sass/_extensions.scss */
.tags {
  padding-bottom: 0;
  margin-bottom: 5px;
  color: #7ca4ab;
}

/* line 210, ../../sass/_extensions.scss */
.tag-list .tag:after {
  content: ",";
  display: inline-block;
  color: #333;
  margin-left: -3px;
}
/* line 218, ../../sass/_extensions.scss */
.tag-list .tag:last-child:after {
  content: "";
}
/* line 224, ../../sass/_extensions.scss */
table .tag-list {
  line-height: 1.45;
  margin-bottom: 12px;
}
@media all and (min-width: 768px) {
  /* line 224, ../../sass/_extensions.scss */
  table .tag-list {
    margin-bottom: 0;
  }
}

/* line 234, ../../sass/_extensions.scss */
.tag {
  color: #7ca4ab;
  font-size: 0.875em;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
/* line 239, ../../sass/_extensions.scss */
.tag:hover {
  color: #c6538c;
}

/* line 250, ../../sass/_extensions.scss */
.extension-list h3 {
  margin-top: 80px;
}
/* line 253, ../../sass/_extensions.scss */
.extension-list h3 small {
  color: #d4d2d1;
  display: block;
}
@media all and (min-width: 768px) {
  /* line 253, ../../sass/_extensions.scss */
  .extension-list h3 small {
    display: inline;
    margin-left: 10px;
  }
}
/* line 264, ../../sass/_extensions.scss */
.extension-list table {
  width: 100%;
  margin: 0 0 100px;
  padding: 0 15px;
}
/* line 269, ../../sass/_extensions.scss */
.extension-list table thead {
  font-weight: bold;
}
@media all and (max-width: 767px) {
  /* line 269, ../../sass/_extensions.scss */
  .extension-list table thead {
    display: none;
  }
}
/* line 275, ../../sass/_extensions.scss */
.extension-list table thead td {
  line-height: 43px;
  color: #a5a19c;
  padding: 0 10px;
}
/* line 279, ../../sass/_extensions.scss */
.extension-list table thead td:first-child {
  padding-left: 0;
}
/* line 286, ../../sass/_extensions.scss */
.extension-list table tbody td {
  padding: 20px 10px;
}
@media all and (min-width: 768px) {
  /* line 289, ../../sass/_extensions.scss */
  .extension-list table tbody td:first-child {
    padding-left: 0;
  }
}
@media all and (max-width: 767px) {
  /* line 286, ../../sass/_extensions.scss */
  .extension-list table tbody td {
    padding: 0;
  }
}
/* line 299, ../../sass/_extensions.scss */
.extension-list table tr {
  border-bottom: solid 1px #dddddd;
  color: #888;
}
@media all and (max-width: 767px) {
  /* line 299, ../../sass/_extensions.scss */
  .extension-list table tr {
    display: block;
    border: solid 1px #dddddd;
    padding: 20px;
    margin-bottom: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
  }
}
/* line 311, ../../sass/_extensions.scss */
.extension-list table td {
  vertical-align: top;
}
@media all and (max-width: 767px) {
  /* line 311, ../../sass/_extensions.scss */
  .extension-list table td {
    display: block;
  }
}

/* line 1, ../../sass/_pagination.scss */
.previous_page, .next_page {
  display: none;
  height: 22px;
  color: #fff;
  position: absolute;
  top: 50%;
  background-color: #d98cb2;
  background-image: url("../img/icons.svg");
  background-repeat: no-repeat;
  padding: 13px !important;
  margin: 0 !important;
  font-size: 0.8125em;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
@media all and (min-width: 520px) {
  /* line 1, ../../sass/_pagination.scss */
  .previous_page, .next_page {
    display: inline;
  }
}
/* line 24, ../../sass/_pagination.scss */
.previous_page:hover, .next_page:hover {
  background-color: #d379a6;
}
/* line 28, ../../sass/_pagination.scss */
.disabled.previous_page, .disabled.next_page {
  background-color: #dfa0bf;
  background-image: none !important;
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 38, ../../sass/_pagination.scss */
.pagination a, .pagination .current {
  color: #fff;
  margin: 0 3px;
  font-size: 0.8125em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 45, ../../sass/_pagination.scss */
.pagination {
  background-color: #dfa0bf;
  border-bottom: solid 2px #d379a6;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
}
/* line 56, ../../sass/_pagination.scss */
.pagination a {
  background-color: #d98cb2;
  padding: 3px 10px;
}
/* line 61, ../../sass/_pagination.scss */
.pagination a:hover {
  background-color: #d379a6;
}
/* line 65, ../../sass/_pagination.scss */
.pagination .current {
  background-color: #e6b3cc;
  cursor: default;
  padding: 3px 10px;
  font-style: normal;
}

/* line 74, ../../sass/_pagination.scss */
.previous_page {
  left: 20px;
  background-position: 7px -161px;
}
@media all and (min-width: 1024px) {
  /* line 74, ../../sass/_pagination.scss */
  .previous_page {
    left: 5%;
  }
}
@media all and (min-width: 1500px) {
  /* line 74, ../../sass/_pagination.scss */
  .previous_page {
    left: 15%;
  }
}

/* line 88, ../../sass/_pagination.scss */
.next_page {
  right: 20px;
  background-position: 6px -192px;
}
@media all and (min-width: 1024px) {
  /* line 88, ../../sass/_pagination.scss */
  .next_page {
    right: 5%;
  }
}
@media all and (min-width: 1500px) {
  /* line 88, ../../sass/_pagination.scss */
  .next_page {
    right: 15%;
  }
}

/* line 4, ../../sass/_modal.scss */
.modal-tarp {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: scroll;
}

/* line 16, ../../sass/_modal.scss */
.add-project {
  background: #c6538c;
  padding: 1.875em;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  -webkit-transition-delay: 200ms;
  -moz-transition: all 200ms ease-in-out 200ms;
  -o-transition: all 200ms ease-in-out 200ms;
  transition: all 200ms ease-in-out 200ms;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
@media all and (min-width: 768px) {
  /* line 16, ../../sass/_modal.scss */
  .add-project {
    top: 100px;
    width: 80%;
    margin-left: -40%;
    position: absolute;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
  }
}
@media all and (min-width: 1024px) {
  /* line 16, ../../sass/_modal.scss */
  .add-project {
    width: 60%;
    margin-left: -30%;
  }
}
/* line 43, ../../sass/_modal.scss */
.add-project.modal-open {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 49, ../../sass/_modal.scss */
.add-project-title {
  font-size: 1.25em;
  line-height: 1.2;
  padding-right: 20px;
  color: #fff;
}

/* line 57, ../../sass/_modal.scss */
.instruction-list {
  padding-left: 20px;
  color: #fff;
}
/* line 61, ../../sass/_modal.scss */
.instruction-list li p code {
  background-color: #c0407f;
  color: #f2d9e6;
  padding: 2px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 69, ../../sass/_modal.scss */
.field {
  width: 100%;
}
@media all and (min-width: 520px) {
  /* line 69, ../../sass/_modal.scss */
  .field {
    float: left;
    width: 80%;
  }
}

/* line 78, ../../sass/_modal.scss */
form.processing .button {
  text-indent: -9999px;
  background-image: url("../img/spinner.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 15%;
  cursor: default;
}
/* line 85, ../../sass/_modal.scss */
form.processing .button:hover {
  background-color: #ad3972;
}

/* line 91, ../../sass/_modal.scss */
.actions .button {
  line-height: 35px;
  height: 40px;
  font-size: 1em;
  font-weight: normal;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
@media all and (min-width: 520px) {
  /* line 91, ../../sass/_modal.scss */
  .actions .button {
    width: 20%;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* line 107, ../../sass/_modal.scss */
.add-url {
  border: none;
  color: #333;
  line-height: 40px;
  height: 40px;
  width: 100%;
  font-size: 1em;
  padding-left: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
@media all and (min-width: 520px) {
  /* line 107, ../../sass/_modal.scss */
  .add-url {
    margin-bottom: 0px;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
/* line 123, ../../sass/_modal.scss */
.add-url:focus {
  outline: none;
}

/* line 128, ../../sass/_modal.scss */
.cancel-button {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 1.875em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
/* line 137, ../../sass/_modal.scss */
.cancel-button:hover, .cancel-button:active {
  color: white;
}

/* line 143, ../../sass/_modal.scss */
.response-bar {
  width: 100%;
  padding: 20px;
  font-size: 1.125em;
  position: relative;
  top: -100px;
  -webkit-transition: top 200ms 50ms;
  -webkit-transition-delay: cubic-bezier(0.36, -0.27, 0.49, 1.29);
  -moz-transition: top 200ms 50ms cubic-bezier(0.36, -0.27, 0.49, 1.29);
  -o-transition: top 200ms 50ms cubic-bezier(0.36, -0.27, 0.49, 1.29);
  transition: top 200ms 50ms cubic-bezier(0.36, -0.27, 0.49, 1.29);
}
/* line 151, ../../sass/_modal.scss */
.response-bar .response-text {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
/* line 158, ../../sass/_modal.scss */
.response-bar.error {
  background: #a20237;
  color: #fff;
}
/* line 163, ../../sass/_modal.scss */
.response-bar.success {
  background: #3b620c;
  color: #fff;
}
/* line 168, ../../sass/_modal.scss */
.response-bar.show {
  top: 0;
}

/* line 4, ../../sass/_footer.scss */
footer {
  background: #f8f8fa url('/app/img/circle-pattern.png?1390007133') 50% 44% no-repeat;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media all and (min-width: 1024px) {
  /* line 4, ../../sass/_footer.scss */
  footer {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media all and (min-width: 1500px) {
  /* line 4, ../../sass/_footer.scss */
  footer {
    padding-left: 15%;
    padding-right: 15%;
  }
}
/* line 20, ../../sass/_footer.scss */
footer a {
  color: inherit;
}
/* line 24, ../../sass/_footer.scss */
footer a:hover, footer a:active {
  color: #c6538c;
}
@media all and (min-width: 520px) {
  /* line 29, ../../sass/_footer.scss */
  footer .note {
    width: 340px;
    margin: 0 auto;
  }
}

/* line 37, ../../sass/_footer.scss */
.footer-wrap {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 41, ../../sass/_footer.scss */
.footer-title {
  font-size: 1.75em;
  margin: 0;
}

/* line 46, ../../sass/_footer.scss */
.authors {
  color: #888;
  margin: 0;
  margin-top: 0.25em;
  margin-bottom: 0.625em;
}
