/* line 44, ../../sass/_helpers.scss */
#featured, .extension-list {
  padding: 0 20px 0px;
}
@media all and (min-width: 1024px) {
  /* line 44, ../../sass/_helpers.scss */
  #featured, .extension-list {
    padding: 0 10% 0px;
  }
}
@media all and (min-width: 1500px) {
  /* line 44, ../../sass/_helpers.scss */
  #featured, .extension-list {
    padding: 0 15% 0px;
  }
}

/* line 50, ../../sass/_helpers.scss */
.sache-bar-actions, #featured ul, .ghub-info {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 57, ../../sass/_helpers.scss */
.page-title, .card-title {
  margin-top: 0;
}

/* line 60, ../../sass/_helpers.scss */
#featured ul:before, #featured ul:after {
  content: " ";
  display: table;
}
/* line 61, ../../sass/_helpers.scss */
#featured ul:after {
  clear: both;
}

/* line 4, ../../sass/_design.scss */
*, * * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../../sass/_design.scss */
body {
  font-size: 1em;
}

/* line 12, ../../sass/_design.scss */
a {
  text-decoration: none;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}

/* line 17, ../../sass/_design.scss */
p {
  font-weight: 400;
}

/* line 21, ../../sass/_design.scss */
pre {
  background-color: #a1356b;
  padding: 0.875em;
  margin-bottom: 1.875em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 27, ../../sass/_design.scss */
pre code {
  color: #f2d9e6;
}

/* line 36, ../../sass/_design.scss */
.button {
  background-color: #862d59;
  display: inline-block;
  padding: 0 1.375em;
  margin-bottom: 1.25em;
  font-size: 0.875em;
  font-weight: bold;
  color: #fff;
  line-height: 2.4375em;
  border: none;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
/* line 49, ../../sass/_design.scss */
.button:hover {
  background-color: #9a3366;
}
/* line 52, ../../sass/_design.scss */
.button:active {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
}

/* line 61, ../../sass/_design.scss */
.sache-bar {
  background: #c6538c url("../img/wave-pattern.png") 0 0 repeat-x;
  overflow: hidden;
  padding: 0 5em;
  height: 3.75em;
}

/* line 68, ../../sass/_design.scss */
.logo {
  margin: 0;
  color: #fff;
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 75, ../../sass/_design.scss */
.sache-bar-actions {
  float: right;
  height: 3.75em;
}
/* line 80, ../../sass/_design.scss */
.sache-bar-actions li {
  float: left;
  margin-left: 2.5em;
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  height: 100%;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}
/* line 88, ../../sass/_design.scss */
.sache-bar-actions li a {
  color: white;
  display: inline-block;
  height: 100%;
  line-height: 60px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
/* line 97, ../../sass/_design.scss */
.sache-bar-actions li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 104, ../../sass/_design.scss */
.sache-add-extension {
  border-left: solid 1px rgba(255, 255, 255, 0.1);
}
/* line 107, ../../sass/_design.scss */
.sache-add-extension a {
  background: url("../img/icons.svg") 40px -105px no-repeat;
  position: relative;
  padding-left: 4.375em;
}

/* line 115, ../../sass/_design.scss */
.sache-search a {
  background: url("../img/icons.svg") 0 -62px no-repeat;
  position: relative;
  left: 270px;
  padding-left: 1.875em;
}
/* line 122, ../../sass/_design.scss */
.sache-search input {
  background-color: #c6538c;
  border: 0;
  padding: 5px 5px 4px;
  width: 250px;
  font-size: 13px;
  margin-left: 10px;
  position: relative;
  left: 260px;
  color: #c6538c;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: left 200ms ease-in-out, background-color 200ms ease-in-out, color 200ms linear;
  -moz-transition: left 200ms ease-in-out, background-color 200ms ease-in-out, color 200ms linear;
  -o-transition: left 200ms ease-in-out, background-color 200ms ease-in-out, color 200ms linear;
  transition: left 200ms ease-in-out, background-color 200ms ease-in-out, color 200ms linear;
}
/* line 135, ../../sass/_design.scss */
.sache-search input.activated {
  left: 0;
  background-color: #d98cb2;
}
/* line 140, ../../sass/_design.scss */
.sache-search input:focus {
  outline: none;
  background-color: #f2d9e6;
  color: #c6538c;
}

/* line 152, ../../sass/_design.scss */
header {
  background: #f8f8fa url("../img/circle-pattern.png") 50% 45% no-repeat;
  margin-bottom: 1.875em;
  padding: 1.25em 20px;
  text-align: center;
}
@media all and (min-width: 1024px) {
  /* line 152, ../../sass/_design.scss */
  header {
    padding: 3.75em 10%;
  }
}
@media all and (min-width: 1500px) {
  /* line 152, ../../sass/_design.scss */
  header {
    padding: 5em 15%;
  }
}

/* line 167, ../../sass/_design.scss */
.page-title {
  margin-bottom: 0;
  font-size: 1.625em;
  color: #706c69;
}
@media all and (min-width: 768px) {
  /* line 167, ../../sass/_design.scss */
  .page-title {
    font-size: 2.1875em;
  }
}
@media all and (min-width: 1024px) {
  /* line 167, ../../sass/_design.scss */
  .page-title {
    font-size: 2.5em;
  }
}

/* line 182, ../../sass/_design.scss */
.page-description {
  font-size: 0.875em;
  font-weight: 300;
  margin-top: 0.375em;
  color: #706c69;
}
@media all and (min-width: 768px) {
  /* line 182, ../../sass/_design.scss */
  .page-description {
    font-size: 1em;
  }
}
@media all and (min-width: 1024px) {
  /* line 182, ../../sass/_design.scss */
  .page-description {
    font-size: 1.125em;
  }
}
/* line 196, ../../sass/_design.scss */
.page-description a {
  color: #7ca4ab;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}
/* line 200, ../../sass/_design.scss */
.page-description a:hover {
  color: #c6538c;
}

/* line 210, ../../sass/_design.scss */
.modal-tarp {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
}

/* line 220, ../../sass/_design.scss */
.add-project {
  background: #ad3972;
  display: none;
  padding: 1.875em;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 60%;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -30%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
@media all and (min-width: 768px) {
  /* line 220, ../../sass/_design.scss */
  .add-project {
    width: 90%;
  }
}
@media all and (min-width: 1024px) {
  /* line 220, ../../sass/_design.scss */
  .add-project {
    width: 80%;
  }
}

/* line 243, ../../sass/_design.scss */
.add-project-title {
  margin-top: 0;
  font-size: 1.125em;
  color: #fff;
}

/* line 249, ../../sass/_design.scss */
.instruction-list {
  padding-left: 20px;
  color: #fff;
}

/* line 254, ../../sass/_design.scss */
.field {
  float: left;
  width: 50%;
}

/* line 259, ../../sass/_design.scss */
.add-url {
  border: solid 1px #ad3972;
  color: #333;
  line-height: 30px;
  width: 100%;
  font-size: 0.8125em;
  padding-left: 5px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
/* line 268, ../../sass/_design.scss */
.add-url:focus {
  border: solid 1px #73264c;
  outline: none;
}

/* line 274, ../../sass/_design.scss */
.cancel-button {
  position: absolute;
  top: 18px;
  right: 30px;
  font-size: 1.875em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
/* line 283, ../../sass/_design.scss */
.cancel-button:hover, .cancel-button:active {
  color: white;
}

/* line 292, ../../sass/_design.scss */
#featured {
  margin-bottom: 50px;
}
/* line 296, ../../sass/_design.scss */
#featured h3 {
  color: #706c69;
  font-size: 1em;
  text-align: center;
  margin-bottom: 1.875em;
}
/* line 303, ../../sass/_design.scss */
#featured ul {
  display: block;
}

/* line 310, ../../sass/_design.scss */
.feature-card {
  margin: 0 0 1.25em;
  width: 100%;
  height: auto;
}
@media all and (min-width: 520px) {
  /* line 310, ../../sass/_design.scss */
  .feature-card {
    float: left;
    padding: 0 1em 0;
    width: 33.33%;
  }
}
/* line 321, ../../sass/_design.scss */
.feature-card > span {
  display: block;
  border: solid 1px #dddddd;
  padding-bottom: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 329, ../../sass/_design.scss */
.card-title {
  display: block;
  font-size: 1.375em;
  line-height: 1.2;
  padding: 20px 20px 0;
}

/* line 337, ../../sass/_design.scss */
.title-link {
  display: block;
  width: 100%;
  color: #c6538c;
  font-weight: 600;
}
/* line 344, ../../sass/_design.scss */
.title-link:hover, .title-link:active {
  color: #862d59;
}

/* line 349, ../../sass/_design.scss */
.card-description-wrapper {
  overflow: hidden;
  padding-bottom: 1em;
  position: relative;
  padding: 0 20px 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 357, ../../sass/_design.scss */
.card-description {
  line-height: 1.5;
  font-size: 0.875em;
  margin-bottom: 1.25em;
  margin-top: 0;
  color: #706c69;
}
/* line 364, ../../sass/_design.scss */
table .card-description {
  font-size: 1em;
}

/* line 369, ../../sass/_design.scss */
.ghub-info {
  font-size: 0.75em;
  margin-left: -20px;
  margin-right: -20px;
  color: #888;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* line 377, ../../sass/_design.scss */
.ghub-info li {
  background-color: #fbfbfc;
  float: left;
  border-top: solid 1px #eee;
  width: 50%;
  text-align: center;
  padding: 12px 0;
}

/* line 387, ../../sass/_design.scss */
.author-filter {
  display: inline-block;
  color: #888;
  font-weight: 300;
  font-size: 1em;
}
/* line 394, ../../sass/_design.scss */
.author-filter:hover, .author-filter:active {
  color: #222;
}

/* line 399, ../../sass/_design.scss */
.author {
  position: relative;
}
/* line 403, ../../sass/_design.scss */
table .author:before {
  top: 1px;
}
/* line 408, ../../sass/_design.scss */
.author:before {
  content: " ";
  background: url("../img/icons.svg") 0 -42px no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 3px;
  position: relative;
  top: 2px;
}
/* line 419, ../../sass/_design.scss */
.author a:hover {
  color: #c6538c;
}

/* line 424, ../../sass/_design.scss */
.ghub-stars {
  float: right;
  border-left: solid 1px #eee;
  position: relative;
}
/* line 429, ../../sass/_design.scss */
table .ghub-stars {
  border-left: none;
  float: none;
  color: #888;
}
/* line 434, ../../sass/_design.scss */
table .ghub-stars:before {
  top: 1px;
}
/* line 439, ../../sass/_design.scss */
.ghub-stars:before {
  content: " ";
  background: url("../img/icons.svg") 0 0 no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

/* line 451, ../../sass/_design.scss */
.tags {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 0.8125em;
  color: #7ca4ab;
}

/* line 458, ../../sass/_design.scss */
.tag {
  color: #7ca4ab;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
/* line 462, ../../sass/_design.scss */
.tag:hover {
  color: #c6538c;
}

/* line 473, ../../sass/_design.scss */
.extension-list table {
  width: 100%;
  margin: 0 15px 100px;
}
/* line 477, ../../sass/_design.scss */
.extension-list table thead {
  font-weight: bold;
}
/* line 480, ../../sass/_design.scss */
.extension-list table thead tr {
  line-height: 43px;
  color: #a5a19c;
}
/* line 487, ../../sass/_design.scss */
.extension-list table tbody td {
  padding: 25px 0;
}
/* line 492, ../../sass/_design.scss */
.extension-list table tr {
  border-bottom: solid 1px #dddddd;
  color: #706c69;
}

/* line 503, ../../sass/_design.scss */
footer {
  background: #f8f8fa url('/app/img/circle-pattern.png?1390007133') 50% 44% no-repeat;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media all and (min-width: 1024px) {
  /* line 503, ../../sass/_design.scss */
  footer {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media all and (min-width: 1500px) {
  /* line 503, ../../sass/_design.scss */
  footer {
    padding-left: 15%;
    padding-right: 15%;
  }
}
/* line 521, ../../sass/_design.scss */
footer a {
  color: inherit;
}
/* line 525, ../../sass/_design.scss */
footer a:hover, footer a:active {
  color: #c6538c;
}

/* line 531, ../../sass/_design.scss */
.footer-title {
  font-size: 1.75em;
  margin-bottom: 0;
}

/* line 536, ../../sass/_design.scss */
.authors {
  color: #888;
  margin-top: 0.25em;
}
