/* line 52, ../../sass/_helpers.scss */
#featured, .extension-list {
  padding: 0 20px 0px;
}
@media all and (min-width: 1024px) {
  /* line 52, ../../sass/_helpers.scss */
  #featured, .extension-list {
    padding: 0 10% 0px;
  }
}
@media all and (min-width: 1500px) {
  /* line 52, ../../sass/_helpers.scss */
  #featured, .extension-list {
    padding: 0 15% 0px;
  }
}

/* line 58, ../../sass/_helpers.scss */
.sache-bar-actions, .featured-cards, .ghub-info {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 65, ../../sass/_helpers.scss */
.page-title, .card-title, .card-description, .add-project-title {
  margin-top: 0;
}

/* line 68, ../../sass/_helpers.scss */
.featured-cards:before, .featured-cards:after {
  content: " ";
  display: table;
}
/* line 69, ../../sass/_helpers.scss */
.featured-cards:after {
  clear: both;
}

/* line 4, ../../sass/_globals.scss */
*, * * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../../sass/_globals.scss */
body {
  font-size: 1em;
}

/* line 12, ../../sass/_globals.scss */
.button {
  background-color: #862d59;
  display: inline-block;
  padding: 0 1.375em;
  margin-bottom: 1.25em;
  font-size: 0.875em;
  font-weight: bold;
  color: #fff;
  line-height: 2.4375em;
  border: none;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
/* line 25, ../../sass/_globals.scss */
.button:hover {
  background-color: #9a3366;
}
/* line 28, ../../sass/_globals.scss */
.button:active {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
}

/* line 1, ../../sass/_type.scss */
h1,
h2,
h3,
h4,
h5,
h6, .title-link {
  font-family: "ff-tisa-web-pro", serif;
}

/* line 5, ../../sass/_type.scss */
p {
  font-family: "ff-tisa-sans-web-pro", sans-serif;
}

/* line 9, ../../sass/_type.scss */
a {
  text-decoration: none;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}

/* line 14, ../../sass/_type.scss */
p {
  font-weight: 400;
}

/* line 19, ../../sass/_type.scss */
pre {
  background-color: #a1356b;
  padding: 0.875em;
  margin-bottom: 1.875em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 25, ../../sass/_type.scss */
pre code {
  color: #f2d9e6;
}

/* line 35, ../../sass/_type.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* line 4, ../../sass/_sache_bar.scss */
.sache-bar {
  background: #c6538c url("../img/wave-pattern.png") 0 0 repeat-x;
  overflow: hidden;
  padding: 0 5em;
  height: 3.75em;
}

/* line 11, ../../sass/_sache_bar.scss */
.logo {
  margin: 0;
  color: #fff;
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 17, ../../sass/_sache_bar.scss */
.logo img {
  height: 40px;
  margin-top: 5px;
}

/* line 23, ../../sass/_sache_bar.scss */
.sache-bar-actions {
  float: right;
  height: 3.75em;
}
/* line 28, ../../sass/_sache_bar.scss */
.sache-bar-actions li {
  float: left;
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  height: 100%;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}
/* line 35, ../../sass/_sache_bar.scss */
.sache-bar-actions li a {
  color: white;
  display: inline-block;
  height: 100%;
  line-height: 60px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
/* line 43, ../../sass/_sache_bar.scss */
.sache-bar-actions li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 50, ../../sass/_sache_bar.scss */
.sache-add-extension {
  border-left: solid 1px rgba(255, 255, 255, 0.1);
}
/* line 53, ../../sass/_sache_bar.scss */
.sache-add-extension a {
  background: url("../img/icons.svg") 40px -105px no-repeat;
  position: relative;
  padding-left: 4.375em;
}

/* line 62, ../../sass/_sache_bar.scss */
.sache-search input {
  background: transparent url("../img/icons.svg") 20px -58px no-repeat;
  border: 0;
  padding: 5px 5px 4px 49px;
  margin-left: 10px;
  height: 100%;
  color: #fff;
  width: 150px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: width 350ms cubic-bezier(0.36, -0.27, 0.49, 1.29), background-color 200ms linear;
  -moz-transition: width 350ms cubic-bezier(0.36, -0.27, 0.49, 1.29), background-color 200ms linear;
  -o-transition: width 350ms cubic-bezier(0.36, -0.27, 0.49, 1.29), background-color 200ms linear;
  transition: width 350ms cubic-bezier(0.36, -0.27, 0.49, 1.29), background-color 200ms linear;
}
/* line 46, ../../sass/_helpers.scss */
.sache-search input::-webkit-input-placeholder {
  color: #fff;
}
/* line 47, ../../sass/_helpers.scss */
.sache-search input:-moz-placeholder {
  color: #fff;
}
/* line 48, ../../sass/_helpers.scss */
.sache-search input::-moz-placeholder {
  color: #fff;
}
/* line 49, ../../sass/_helpers.scss */
.sache-search input:-ms-input-placeholder {
  color: #fff;
}
/* line 78, ../../sass/_sache_bar.scss */
.sache-search input.activated {
  left: 0;
  background-color: #d98cb2;
}
/* line 83, ../../sass/_sache_bar.scss */
.sache-search input:focus {
  outline: none;
  background-color: #c0407f;
  width: 250px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 4, ../../sass/_header_title.scss */
header {
  background: #f8f8fa url("../img/circle-pattern.png") 50% 45% no-repeat;
  margin-bottom: 1.875em;
  padding: 1.25em 20px 1.625em;
  text-align: center;
}
@media all and (min-width: 768px) {
  /* line 4, ../../sass/_header_title.scss */
  header {
    padding: 3.125em 10% 3.75em;
  }
}
@media all and (min-width: 1500px) {
  /* line 4, ../../sass/_header_title.scss */
  header {
    padding: 5em 15% 5.875em;
  }
}

/* line 19, ../../sass/_header_title.scss */
.page-title {
  margin-bottom: 0.25em;
  font-size: 2em;
  line-height: 1.3;
  color: #706c69;
}
@media all and (min-width: 768px) {
  /* line 19, ../../sass/_header_title.scss */
  .page-title {
    font-size: 2.5em;
  }
}
@media all and (min-width: 1024px) {
  /* line 19, ../../sass/_header_title.scss */
  .page-title {
    font-size: 2.875em;
  }
}

/* line 35, ../../sass/_header_title.scss */
.page-description {
  font-size: 0.875em;
  color: #706c69;
  margin-bottom: 0;
  line-height: 1.5;
}
@media all and (min-width: 768px) {
  /* line 35, ../../sass/_header_title.scss */
  .page-description {
    font-size: 1em;
  }
}
@media all and (min-width: 1024px) {
  /* line 35, ../../sass/_header_title.scss */
  .page-description {
    font-size: 1.125em;
  }
}
/* line 49, ../../sass/_header_title.scss */
.page-description a {
  color: #7ca4ab;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}
/* line 53, ../../sass/_header_title.scss */
.page-description a:hover {
  color: #c6538c;
}

/* line 4, ../../sass/_extensions.scss */
#featured {
  margin-bottom: 50px;
}
/* line 8, ../../sass/_extensions.scss */
#featured h3 {
  color: #706c69;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.875em;
}

/* line 17, ../../sass/_extensions.scss */
.featured-cards {
  display: block;
}
@media all and (min-width: 768px) {
  /* line 17, ../../sass/_extensions.scss */
  .featured-cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
}

/* line 29, ../../sass/_extensions.scss */
.feature-card {
  margin: 0 0 1.25em;
  width: 100%;
}
@media all and (min-width: 768px) {
  /* line 29, ../../sass/_extensions.scss */
  .feature-card {
    padding: 0 1em 0;
    width: 33.33%;
    flex: 1;
  }
}
/* line 40, ../../sass/_extensions.scss */
.feature-card > span {
  display: block;
  border: solid 1px #dddddd;
  padding-bottom: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 48, ../../sass/_extensions.scss */
.card-title {
  font-size: 1.375em;
  line-height: 1.5;
  padding: 20px 20px 0;
}

/* line 55, ../../sass/_extensions.scss */
.title-link {
  display: block;
  width: 100%;
  color: #c6538c;
  cursor: pointer;
}
/* line 63, ../../sass/_extensions.scss */
.title-link:hover, .title-link:active {
  color: #862d59;
}

/* line 68, ../../sass/_extensions.scss */
.card-description-wrapper {
  overflow: hidden;
  padding-bottom: 1em;
  position: relative;
  padding: 0 20px 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 76, ../../sass/_extensions.scss */
.card-description {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1em;
  color: #706c69;
}
/* line 83, ../../sass/_extensions.scss */
table .card-description {
  font-size: 1em;
}

/* line 88, ../../sass/_extensions.scss */
.ghub-info {
  color: #888;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* line 93, ../../sass/_extensions.scss */
.ghub-info li {
  background-color: #fbfbfc;
  float: left;
  border-top: solid 1px #eee;
  width: 50%;
  text-align: center;
  padding: 12px 0;
}

/* line 103, ../../sass/_extensions.scss */
.author-filter {
  display: inline-block;
  color: #888;
  font-size: 0.875em;
}
/* line 109, ../../sass/_extensions.scss */
.author-filter:hover, .author-filter:active {
  color: #222;
}

/* line 114, ../../sass/_extensions.scss */
.author {
  position: relative;
  cursor: pointer;
}
/* line 118, ../../sass/_extensions.scss */
.author:before {
  content: " ";
  background: url("../img/icons.svg") 0 -42px no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 3px;
  position: relative;
  top: 2px;
}
/* line 129, ../../sass/_extensions.scss */
.author a:hover {
  color: #c6538c;
}

/* line 134, ../../sass/_extensions.scss */
.ghub-stars {
  float: right;
  border-left: solid 1px #eee;
  position: relative;
  font-size: 0.8125em;
}
/* line 140, ../../sass/_extensions.scss */
table .ghub-stars {
  border-left: none;
  float: none;
  color: #888 !important;
}
/* line 146, ../../sass/_extensions.scss */
.ghub-stars:before {
  content: " ";
  background: url("../img/icons.svg") 0 0 no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

/* line 158, ../../sass/_extensions.scss */
.tags {
  padding-bottom: 0;
  margin-bottom: 5px;
  color: #7ca4ab;
}

/* line 166, ../../sass/_extensions.scss */
.tag-list .tag:after {
  content: ",";
  display: inline-block;
  color: #333;
  margin-left: -3px;
}
/* line 174, ../../sass/_extensions.scss */
.tag-list .tag:last-child:after {
  content: "";
}

/* line 182, ../../sass/_extensions.scss */
.tag {
  color: #7ca4ab;
  font-size: 0.875em;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
/* line 187, ../../sass/_extensions.scss */
.tag:hover {
  color: #c6538c;
}

/* line 198, ../../sass/_extensions.scss */
.extension-list table {
  width: 100%;
  margin: 0 15px 100px;
}
/* line 202, ../../sass/_extensions.scss */
.extension-list table thead {
  font-weight: bold;
}
/* line 205, ../../sass/_extensions.scss */
.extension-list table thead tr {
  line-height: 43px;
  color: #a5a19c;
}
/* line 212, ../../sass/_extensions.scss */
.extension-list table tbody td {
  padding: 25px 0;
}
/* line 217, ../../sass/_extensions.scss */
.extension-list table tr {
  border-bottom: solid 1px #dddddd;
  color: #706c69;
}

/* line 4, ../../sass/_modal.scss */
.modal-tarp {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
}

/* line 14, ../../sass/_modal.scss */
.add-project {
  background: #ad3972;
  padding: 1.875em;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 60%;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -30%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 200ms ease-in-out;
  -webkit-transition-delay: 200ms;
  -moz-transition: all 200ms ease-in-out 200ms;
  -o-transition: all 200ms ease-in-out 200ms;
  transition: all 200ms ease-in-out 200ms;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
@media all and (min-width: 768px) {
  /* line 14, ../../sass/_modal.scss */
  .add-project {
    width: 90%;
  }
}
@media all and (min-width: 1024px) {
  /* line 14, ../../sass/_modal.scss */
  .add-project {
    width: 80%;
  }
}
/* line 39, ../../sass/_modal.scss */
.add-project.modal-open {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 45, ../../sass/_modal.scss */
.add-project-title {
  font-size: 1.125em;
  color: #fff;
}

/* line 51, ../../sass/_modal.scss */
.instruction-list {
  padding-left: 20px;
  color: #fff;
}

/* line 56, ../../sass/_modal.scss */
.field {
  float: left;
  width: 50%;
}

/* line 61, ../../sass/_modal.scss */
.add-url {
  border: solid 1px #ad3972;
  color: #333;
  line-height: 30px;
  width: 100%;
  font-size: 0.8125em;
  padding-left: 5px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
/* line 70, ../../sass/_modal.scss */
.add-url:focus {
  border: solid 1px #73264c;
  outline: none;
}

/* line 76, ../../sass/_modal.scss */
.cancel-button {
  position: absolute;
  top: 18px;
  right: 30px;
  font-size: 1.875em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
/* line 85, ../../sass/_modal.scss */
.cancel-button:hover, .cancel-button:active {
  color: white;
}

/* line 4, ../../sass/_footer.scss */
footer {
  background: #f8f8fa url('/app/img/circle-pattern.png?1390007133') 50% 44% no-repeat;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media all and (min-width: 1024px) {
  /* line 4, ../../sass/_footer.scss */
  footer {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media all and (min-width: 1500px) {
  /* line 4, ../../sass/_footer.scss */
  footer {
    padding-left: 15%;
    padding-right: 15%;
  }
}
/* line 22, ../../sass/_footer.scss */
footer a {
  color: inherit;
}
/* line 26, ../../sass/_footer.scss */
footer a:hover, footer a:active {
  color: #c6538c;
}

/* line 32, ../../sass/_footer.scss */
.footer-title {
  font-size: 1.75em;
  margin-bottom: 0;
}

/* line 37, ../../sass/_footer.scss */
.authors {
  color: #888;
  margin-top: 0.25em;
}
