%footer
  .footer-wrap
    %h1{:class => "footer-title"}
      %a{:href => "/"}
        %img{:src => "/img/logo-dark.png", :alt => "Sache", :title => "Sache", :height => "32"}
    %p{:class => "authors"}
      Made by
      %a{:href => "https://github.com/hatefulcrawdad"} Chris Michel
      and
      %a{:href => "https://github.com/jhardy"} Jared Hardy
      for the love of the amazing Sass Community.