%footer
  %h1{:class => "footer-title"} Sache
  %p{:class => "authors"}
    Made by
    %a{:href => "https://github.com/hatefulcrawdad"} Chris Michel
    and
    %a{:href => "https://github.com/jhardy"} Jared Hardy
    for the love of the amazing Sass Community.