%footer
  .footer-wrap
    %h1{:class => "footer-title"}
      %a{:href => "/"}
        %img{:src => "/img/logo-dark.png", :alt => "Sache", :title => "Sache", :height => "32"}
    %p{:class => "authors"}
      Made by
      %a{:href => "https://github.com/hatefulcrawdad"} Chris Michel
      and
      %a{:href => "https://github.com/jhardy"} Jared Hardy
      for the love of the amazing Sass Community.
    %p{:class => "note"}
      Email us at
      %a{:href => "mailto:sassy@sache.in"} sassy@sache.in
      with questions or comments or feel free to visit our
      %a{:href => "https://github.com/jhardy/sache"} Github repo
      to submit issues or pull requests. We've got banners,
      %a{:href => "promote"}promote us
      !