%link{href: "/css/normalize.css", rel: "stylesheet"}/
%link{href: "/css/main.css", rel: "stylesheet"}/
%script{src: "/js/vendor/modernizr-2.6.2.min.js"}
%script{src: "//use.typekit.net/fqh3ukq.js"}


:javascript
	try{Typekit.load();}catch(e){}


	
