.modal-tarp

  %section{:class => 'response-bar success'}
    .response-text
      Thanks for submitting your awesome extension.

  .add-project
    %h4{:class => "add-project-title"} How to add your project
    %ol{:class => "instruction-list"}
      %li
        %p
          Add
          %code sache.json
          to your public repo and include the required info:
          %pre
            %code
              :preserve
                {
                  "name": "project-name",
                  "description": "Description of project",
                  "tags": ["ui", "buttons", "etc"]
                }
        %p{:class => "note"}
          %a{:href => "https://github.com/jhardy/Sassy-Buttons/blob/master/sache.json", :target => "_blank"}
            Checkout a real live sache.json file &rarr;
      %li
        %p Enter your project SSH clone URL:
        %form{:action =>"/extensions", :method => "post", :role => "form", :id => 'submit-form'}
          .field
            %input{:class => "add-url", :id => "extension-url", :name => "project_url", :type => "text", :placeholder => "Github SSH URL", :required => false}
          .actions
            %button{:class => "button", :type => "submit"} Add


    %a{:class => "cancel-button", :title => "Cancel", :href => "#", :data => {:cancel_project => ""}} &times;