
%section{:class => "sache-bar"}
  %h1{:class => "logo"}
    %a{:href => "/"}
      %img{:src => "/img/logo.png", :alt => "Sache", :title => "Sache"}
  %ul{:class => "sache-bar-actions"}
    %li{:class => "sache-search"}
      %form{:action => '/search', :method => 'get'}
        %input{:type => "search", :name =>'query', :placeholder => "Find Extensions"}
    %li{:class => "sache-add-extension"}
      %a{:href => "#", :data => {:add_project => ""}} Add Extension
